@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background-color: #f6f8fc !important;
}

.element {
    margin-top: 30px;
    position: relative;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    flex-direction: row;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fed648;
    height: 700px;
    border-radius: 30px;
    width: fit-content;
}

.brand-container img {
    width: 400px;
    height: 400px;
}

.form-container {
    position: relative;
    margin: 10px;
}

.form-container h2 {
    font-size: 60px;
}

.form-container h1 {
    font-weight: bolder;
    font-size: 85px;
}

.tinyline {
    position: relative;
    top: -15px;
    left: 100px;
    background-color: #fed648;
    height: 4px;
    width: 120px;
}

.subtext {
    margin-top: 70px;
    font-size: 40px;
    text-align: center;
}

.formLogin {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputStyle {
    margin-top: 20px;
    background-color: white;
    border: none;
    height: 70px;
    width: 700px;
    border-radius: 10px;
    padding: 15px;
}

.inputStyle input{
    border: none;
    width: 600px;
}

.inputStyle input:focus {
    outline: none;
}

.inputStyle:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
}

.submitButton{
    background-color: #fed648;
    width: 300px;
    border: none;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 30px;
    height: 70px;
    margin-top: 25px;
    transition: background-color 0.5s ease;

}


.submitButton:hover{
    background-color: #febc48;
}

